<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <title>主页</title>
</head>
<body>
    <div class="contain">
        <div class="form-control">
            <div class="form-group">
                <a><button class="btn btn-primary">登录</button></a>
            </div>
            <div class="form-group"> 
                <a><button class="btn btn-info">注册</button></a>
            </div>
        </div>
    </div>
</body>
</html>